<div class="container vh-100 d-flex justify-content-center align-items-center">
  <div class="p-4 bg-light rounded shadow" style="min-width: 320px;">

        <h3 class="text-center mb-4">Register</h3>

            <div class="mb-3">
                <label for="nameInput" class="form-label">Full Name</label>
                <input type="text" class="form-control" id="nameInput" [(ngModel)]="register.name" >
            </div>

            <div class="mb-3">
                <label for="emailRegisterInput" class="form-label">Email address</label>
                <input type="email" class="form-control" id="emailRegisterInput" [(ngModel)]="register.email">
            </div>

            <div class="mb-3">
                <label for="passwordRegisterInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordRegisterInput" [(ngModel)]="register.password">
            </div>

            <div class="mb-3">
                <label for="confirmPasswordInput" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPasswordInput"
                    [(ngModel)]="register.repeat_password" >
            </div>

            <button  class="btn btn-primary w-100 mb-3" (click)="registerClient();">Register</button>

            <div class="text-center">
                <span>Already have an account? </span>
                <a routerLink="/login">Login</a>
            </div>


    </div>
</div>